{% extends 'store/Main.html' %}
{% load static %}
{% block content %}

	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

				<!-- <a class="btn btn-outline-success" href="#">View</a> -->
				<button type="button" href="#test{{product.id}}" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">View</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" id="#test{{product.id}}" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">{{product.name}}</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        ...
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>

				<h4 class="item-price" style="display: inline-block; float: right"><strong class="item-price">${{product.price|floatformat:2}}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>



{% endblock content %}
